body {
  padding-top: 50px;
  margin-bottom: 600px;
  color: aliceblue;
  background-color: #264653;
}

input,
select {
  background-color: rgb(91, 177, 177);
  margin: 0 auto;
}

#convertCurr input, 
#convertCurr select {
  display: block;
}

#moneyBG {
  top: -60px;
  overflow: hidden;
  background-size: cover;
  position: fixed;
  z-index: -1;
  filter: opacity(30%) grayscale(120%) blur(8px);
  background-blend-mode: soft-light;
}

button {
  background-color: #264653 !important;
  color: rgb(255, 238, 0) !important;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.aboutPics {
  height: 175px;
  border-radius: 150px;
  border: 3px solid #E5E5E5;
  filter: drop-shadow(-3px 4px #F4A261);
  margin: 25px;
  margin-bottom: 30px;
}

#aboutUs {
  padding-top: 100px;
  text-align: center;
}

#aboutUs h6 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nav {
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  color: aliceblue;
  background-color: #2A9D8F;
  border: white inset 4px;
  margin-bottom: 60px;
}

.navbar-brand {
  color: #E76F51;
}

#header {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: xx-large !important;
  font-weight: bolder;
  margin-bottom: 30px;
  background-color: #264653;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2em;
  border-radius: 15px;
  text-shadow: 2px 2px rgb(65, 153, 144);
  background-image: linear-gradient(to bottom right, #4089a7, #264653);
  border: 2px inset teal;
}

#header h1 {
  font-size: 125px;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item a {
  color: #F4A261;
}

#arbCheck,
#convertCurr {
  text-align: center;
}

#arbContent,
#aboutUs,
#arbCheck,
#convertCurr {
  padding: 20px;
  background-color: rgb(65, 153, 144);
  border: 2px double #264653;
  border-radius: 25px;
}

#arbitrageSpinner, #arbOutput {
  display: none;
}

#wiki,
#arbCheck,
#convertCurr,
#aboutUs {
  padding-top: 100px;
}

#runDemo {
  margin: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  /* border: aliceblue 3px !important; */
}

#demoOutput {
  display: flex;
  justify-content: center;
}

.card {
  height: fit-content;
  word-wrap: break-word;
  width: fixed;
  vertical-align: middle;
  background-color: #2A9D8F;
  border-radius: 1em;
  margin: 2%;
  color: #F4A261;
}

.card-body {
  justify-content: center;
  align-content: center;
  font-size: x-large;
  height: fit-content;
  word-wrap: break-word;
  width: fixed;
  vertical-align: middle;
}

.card-title {
  background-color: #2A9D8F;
}

.card-title h3 {
  font-size: large;
}

#footer {
  text-align: center;
  font-size: large;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 100%;
  background-color: #2A9D8F;
  position: fixed;
  bottom: 0;
  left: 0;
}

#convertOutput,
#error {
  margin-top: 30px;
}

#arbOutput {
  margin-top: 100px;
}

h2 {
  color: #F4A261;
}

#arbBaseCurr,
#arbCurrentAmt,
#arbOutput {
  margin-top: 20px;
  color: #F4A261;
  font-size: medium;
}